*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: var(--indigo-7);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

:root {
  --g-font-monospace: "JetBrains Mono", monospace;
}

html {
  color: var(--gray-9);
  font-family: "Montserrat", sans-serif;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.page {
  position: relative;
  page-break-after: always;
  background-color: #fff;
  width: 209.75mm;
  height: 297mm;
  margin: 0 auto;
  box-shadow: var(--shadow-3);
  font-size: 8pt;
  overflow: hidden;

  &-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem 2rem;
    font-size: 0.875em;
    font-weight: 500;
    opacity: 0.5;
  }

  & + & {
    margin-top: 2em;
  }
}

.header {
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  justify-content: space-between;
  padding: 4em 2em 3em;
  color: #fff;
  background-image: var(--gradient-8);
  font-family: var(--g-font-monospace);
}

.profile {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 2em;

  &-picture {
    width: 8em;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }

  &-main {
    display: grid;
    gap: 0.25rem;
  }

  &-name {
    font-size: 2.5em;
    font-weight: 700;
  }

  &-role {
    font-weight: 500;
  }

  &-experience {
    opacity: 0.5;
  }
}

.contacts {
  display: grid;
  gap: 0.5em;
  font-size: 0.75em;

  &-record {
    display: flex;
    gap: 0.5rem;

    img {
      width: 1.25em;
      filter: invert(1);
    }

    a {
      color: inherit;
      font-weight: 600;
      text-decoration: none;
    }
  }

  &-links {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;

    a {
      width: 2em;
      filter: invert(1);
    }
  }
}

.section {
  padding: 2em 2em;

  & > h2 {
    margin-bottom: 1em;
    font-family: var(--g-font-monospace);
    font-size: 1.25em;
    text-align: center;
  }
}

.facts {
  font-size: 10pt;
  background-color: var(--gray-0);

  &-list {
    display: grid;
    gap: 1em;
    list-style: none;
    counter-reset: list;
    font-size: 8pt;

    li {
      display: flex;
      align-items: baseline;
      gap: 1em;
      counter-increment: list;

      p {
        max-width: 80ch;
      }

      &::before {
        content: counter(list);
        display: flex;
        flex: none;
        justify-content: center;
        align-items: center;
        width: 3em;
        aspect-ratio: 1;
        border-radius: 50%;
        color: #fff;
        background-image: var(--gradient-20);
        font-weight: 700;
      }

      @for $i from 1 through 5 {
        &:nth-child(#{$i})::before {
          border-radius: var(--radius-blob-#{$i});
        }
      }
    }
  }
}

.skills {
  padding: 2em 3em;
  font-size: 10pt;

  &-sections {
    display: grid;
    grid-template-areas:
      "a b"
      "x x";
    gap: 4em 3em;
    padding-top: 2em;
    font-size: 8pt;
  }

  &-section {
    display: grid;
    gap: 2em;
    align-content: start;

    h3 {
      font-size: 1em;
    }
  }

  &-figures {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 1em;

    figure {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 5em;
      gap: 1em;

      img {
        width: 80%;
        aspect-ratio: 1;
      }

      figcaption {
        font-family: "JetBrains Mono", monospace;
        font-size: 0.75em;
        font-weight: bold;
        color: var(--gray-7);
      }
    }

    &-low {
      display: grid;
      width: calc(3 * 5em + 7em);
      margin-top: -1.5em;
      padding: 1.5rem 1.5rem 1.5rem;
      gap: 1rem;
      background: var(--gray-1);

      &-list {
        display: flex;
        gap: 1em;
        justify-content: center;

        figure {
          width: 2.5rem;
        }

        img {
          opacity: 0.5;
        }
      }

      &-footnote {
        width: 100%;
        font-size: 0.75em;
        font-weight: 500;
        opacity: 0.5;
      }
    }
  }

  &-stack {
    padding-right: 3em;
    border-right: 2px solid var(--gray-1);
  }

  &-stack &-figures {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 1em 2em;
  }

  &-languages {
    display: grid;
    grid-auto-flow: column;
    justify-items: start;
  }

  &-plain {
    grid-area: x;
  }

  &-others {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    font-size: 7pt;
  }

  &-column {
    display: grid;
    gap: 2em;
    align-content: start;
    border-right: 2px solid var(--gray-1);
    padding-top: 1em;

    &:last-child {
      border-right: none;
    }
  }

  &-set {
    display: grid;
    align-content: start;
    gap: 1em;

    &-title {
      font-weight: bold;
    }

    &-list {
      display: grid;
      gap: 0.25em;
      padding: 0 0 0 1em;
      list-style: none;

      a {
        color: var(--gray-7);
        font-weight: 500;
      }
    }
  }
}

.history {
  display: grid;
  gap: 2em;

  &-details {
    position: relative;
    display: grid;
    gap: 0.5em;
    padding-left: 5em;
    padding-top: 0.5rem;

    a {
      display: flex;
      align-items: center;
      gap: 0.5em;

      svg {
        height: 12px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 3em;
      aspect-ratio: 1;
      border-radius: 50%;
      align-self: baseline;
      background-color: var(--indigo-0);
      transform: translateY(0.5em);
    }

    &::after {
      content: "";
      position: absolute;
      width: 1em;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--indigo-5);
      transform: translate(1em, 1.5em);
    }
  }

  &-record {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: calc(100%);
      top: 3.5em;
      left: 1.5em;
      border-left: 2px dashed var(--indigo-0);
    }

    &-primary {
      font-size: 1.25em;
    }

    &-reference {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      margin-block-start: 0.25rem;
      margin-block-end: 0.5rem;

      img {
        height: 1rem;
      }
    }

    &-period {
      color: var(--gray-6);
      font-weight: 500;
    }

    &:last-child:not(&--break)::before {
      display: none;
    }

    &--break::after {
      content: "";
      display: block;
    }

    &--break-next {
      &::before {
        top: -3.5rem;
        bottom: -1rem;
        height: auto;
      }

      .history-details::before,
      .history-details::after {
        display: none;
      }
    }
  }
}

.employment {
  padding: 2em 3em 2em;

  &-history {
    gap: 1em;
  }

  &-record {
    display: grid;
    grid-template-columns: 22em auto;
    align-items: start;
    gap: 1rem;
  }

  &-project {
    display: grid;
    gap: 0.5em;
    padding: 2em;

    &-header {
      display: grid;
      justify-content: space-between;
      align-items: center;
      grid-auto-flow: column;
      padding-bottom: 0.5em;
    }

    &-chip {
      font-size: 0.875em;
      font-weight: bold;
      opacity: 0.5;
    }

    &-logo {
      height: 2em;
    }

    &-headline {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > a,
      & > span {
        font-weight: bold;
      }

      & > a {
        display: flex;
        align-items: center;
        color: inherit;
        gap: 1em;

        & > strong {
          opacity: 0.5;
        }

        & > svg {
          width: 12px;
          height: 12px;
        }
      }

      & > img {
        height: 3em;
        display: none;
      }
    }

    &-stack {
      display: flex;

      &-list {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 1em;

        img {
          height: 1.75em;
          aspect-ratio: 1;
        }
      }
    }

    &-description {
      ul,
      p + p {
        margin-top: 0.25em;
      }

      ul {
        padding-left: 1.5em;
      }

      a {
        font-weight: bold;
      }
    }

    &--elop {
      background-color: var(--indigo-0);
    }

    &--simplifai {
      background-color: var(--violet-0);
    }

    &--smartbank {
      background-color: var(--orange-0);
    }
    
    &--cloutly {
      background-color: var(--blue-0);
    }
    
    &--ocs {
      background-color: var(--yellow-0);
    }
  }
}

.education,
.achievments {
  padding: 3em 3em 2em;
}

//TEMP
body {
  padding: 20px 20px;
  background-color: var(--gray-0);
}

@media print {
  @page {
    margin: 0;
    size: A4;
  }

  body {
    padding: 0;
    background-color: #fff;
  }

  .page {
    width: auto;
    height: 100%;
    box-shadow: none;

    & + & {
      margin: 0;
    }
  }
}
